.App{
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 100vh;
}

nav{
  color: white;
  background-color: #EC755D;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  width: 28%;
  border-radius: 15px;
  margin-bottom: -120px;
}

.container-one{
  text-align: left;
  margin: 10px;

}

.container-one h4{
  margin-bottom: -20px;  
  font-weight: 200;

}

main{
  background-color: white;
  width: 28%;
  border-radius: 15px;
  padding: 20px;
}

main ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  
}

.detail-spending{
  margin-bottom: 60px;
}

.charts{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.lists{
  display: flex ;
  justify-content: space-between;
  flex-direction: column-reverse;
}

.chart__line{
  position: relative;
  width: 35px;
  cursor: pointer;
  transition: all ease-in-out 1s;
  background-color: "#EC755D";
}


.chart__line:hover{
  opacity: 0.6;
}

.chart__line:hover .item_span{
  top: -50px;
  opacity: 1;
}

.item_span{
  transition: all ease-in-out 1s;
  background-color: black;
  color: white;
  padding: 2px;
  border-radius: 5px;
  position: absolute;
  top: 0px;
  opacity: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 10px;
  padding:  10px  5px;
}

.bar{
  margin-left: 15px;
  font-weight: 700;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.total{
  display: flex;
  align-items:baseline;
  justify-content: space-between;
  text-align:right;
}

.total-container-one p {
  margin-bottom: -20px;
  opacity: 0.7;
  font-weight: 700;
}

.total-container-two p {
  margin-top: -15px;
  opacity: 0.7;
  font-weight: 700;
}

.chart__line{
    border-radius: 8px;
    margin: 5px;
    padding: 5px;
  }
